.App-header {
	background-color: #282c34;
	min-height: 100vh;

	color: white;
}

ul {
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
}

.cat {
	width: calc(30vmin);
	height: calc(30vmin);
	position: relative;
	filter: brightness(0.4);
	transition: all 0.3s ease;
}

.cat:hover {
	filter: brightness(1);
}

.cat__image {
	height: 100%;
	width: 100%;
	background-size: cover;
}

.cat__controls {
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 30px;
	letter-spacing: 10px;
}

.cat__controls div {
	transition: all 0.3s ease;
	cursor: pointer;
}
.cat__controls div:hover {
	transform: scale(1.1);
}

.cat__upvotes {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 16px;
	color: palevioletred;
	font-weight: 900;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 5px;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px;
}

header h1 {
	font-weight: 900;
	text-transform: uppercase;
}

header div {
	cursor: pointer;
}
